Descriptions:

Working with CVS files to analyzed using Pandas in IBM watson studio

In [2]:
# The code was removed by Watson Studio for sharing.

   id first_name last_name                  email  gender      ip_address
0   1     Sascha   McLaine     smclaine0@phoca.cz  Female   201.144.84.74
1   2      Jemmy     Leggs     jleggs1@nsw.gov.au  Female   166.9.233.250
2   3      Yulma   Souttar       ysouttar2@hp.com    Male  217.169.70.176
3   4       Gael    Revens    grevens3@google.com    Male  240.44.131.117
4   5     Aguste   Liptrot  aliptrot4@shop-pro.jp    Male  202.172.29.170